.animatingProjectBtns{
    animation-name: projectBtns;
    
}

@media (width < 600px) {
    #grid-section{
        grid-column: 1;
    
    }

    #top-btns{
        display: flex;
        justify-content: center;
    }

    #about-info{
        text-align: center;
        width: auto;
    }

    #learn-more-p{
        text-align: center;
    }

    #resume-btn{
        right: 100px;
        position: relative;
    }

    #info-para{
        text-align: center;
    }


}



    
